.App {
  text-align: center;
  height: 80vh;
display: flex;

 background-color: hsl(217, 100%, 97%);
 }

 
 .steps{
  margin: 30px;
   justify-content: space-between;
  }

 
 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: k;
  src: url("/public/font/Ubuntu-Medium.ttf");
 weight: 600;
}